#flex-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}
#flex-container2
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center
{
  display: flex;
  align-items: center;
}
body
{
  background-color: #DC143C;
  font-family: Calibri;
  border-style: solid;
  border-width: 3px;
  border-color: #8B0000
}
nav
{
  background-color: #FFA07A;
  height: 50px;
}
.nav1
{
  width: 50px;
  height: 50px;
  border-color: #8B0000;
}
.nav2
{
  width: 1035px;
  height: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  border-style: solid;
  border-width: 3px;
  border-color: #8B0000;
  border-top-style: none;
}
.nav3
{
  width: 1035px;
  height: 50px;
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  border-color: #8B0000;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  border-top-style: none;
  border-left-style: none;
}
.nav-link
{
  color: black;
}
.ikonka
{
  height: 50px;
  width: 50px;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #8B0000;
}
header
{
  background-color: #DC143C;
  height: 320px;
}
.box1
{
  width: 850px;
  height: 550px;
}
.carus
{
  margin: 10px 0px 0px 0px;
  width: 850px;
  height: 550px;
  border-style: solid;
  border-width: 3px;
  border-color: #8B0000;
}
section
{
  background-color: #DC143C;
  height: auto;
}
p
{
  margin: 260px 0px 20px 0px;
  text-align: center;
  background-color: #FFA07A;
  height: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #8B0000;
  font-size: 28px;
  height: 50px;
  width: 800px;
}
.box2
{
  background-color: #FFA07A;
  width: 850px;
  height: auto;
  font-weight: bold;
  font-style: italic;
  text-align:justify;
  border-style: solid;
  border-width: 3px;
  border-color: #8B0000;
}
.card
{
  margin: 20px 20px 20px 15px;
  font-weight: bold;
  font-style: italic;
  background-color: #FFA07A;
}
.card-img-top
{
  width: 286px;
  height: 180px;
}
.flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer
{
  height:50px;
  background-color: #FFA07A;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  border-style: solid;
  border-width: 3px;
  border-color: #8B0000;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
}
@media (max-width: 970px) {
#flex-container
{
display: flex;
justify-content:flex-start;
align-items: center;
flex-direction: column;
}
#flex-container2
{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
}
#flex-container3
{
  flex-direction: column;
}
body
{
  background-image: none;
  background-color: #DC143C;
}
nav
{
  width: auto;
  height: auto;
}
.nav1
{
  display: none;
}
.nav2
{
  border-style: solid;
  border-bottom-style: none;
  height: auto;
  width: 501px;
}
.nav3
{
  border-style: solid;
  width: 501px;
}
.header3
{
  margin: 20px 0px 0px 0px;
}
.header2
{
  width: auto;
  height: auto;
  font-size: 2vw;
  margin: 0px 50px 0px 50px;
}
p
{
  margin: 10px 0px 0px 0px;
  width: auto;
  height: auto;
  font-size: 4vw;
}
.carus
{
    width: 400px;
    height: 300px;
}
section
{
  width: auto;
  height: auto;
}
.box1
{
  width: 400px;
  height: 300px;
}
.box2
{
  width: auto;
  height: auto;
  font-size: 2vw;
  margin: 0px 10px 0px 10px;
}
.card-img-top
{
width: auto;
height: 180px;
}
.card
{
height: 300px;
width: 229px;
margin-bottom: 10px;
}
}
@media (max-width: 375px) {
  body
  {
    width: 375px;
    background-image: none;
    background-color: #DC143C;
  }
  header
  {
  width: 365px;
  }
  nav
  {
    width: auto;
    height: auto;
  }
  p
  {
    margin: 10px 0px 10px 0px;
  }
  .nav1
  {
    width: 375px;
    display: none;
    font-size: 2vw;
  }
  .nav2
  {
    border-style: solid;
    border-style: none;
    height: auto;
    width: 360px;
  }
.nav3
{
  border-style: none;
  width: 360px;
  font-size: 14px;
}
.carus
{
  width: 350px;
  height: 300px;
}
.box1
{
  width: 350px;
  height: 200px;
  margin: 10px 0px 0px 0px;
}
