table
{
  background-color: #ADD8E6;
}
body
{
  font-size: 14px;
  background-color: #00FF00;
}
span
{
color: #DC143C;
}
hr
{
color: #5F9EA0;
border-style: solid;
}
hr.ddd
{
color: #DC143C;
}
hr.odd
{
background-color: #00008B;
height: 3px;
}
h3
{
text-shadow:-10px 8px 4px white;
}
a:hover
{
font-size: 20px;
}
#TELO
{
  width: 350px;
  border-style: solid;
  border-width: medium;
  border-color: #00008B;
  background-color: white;
}
h2
{
text-shadow:-10px 8px 4px white;
}
#TELO2
{
  background-image: url(krt.jpg);
}
